{% load static %}
<div class="topnav" id="myTopnav">
    <div>
        <a href="{% url 'home' %}" class="leftOptions">
          <img src="{% static 'image/logo.png'%}" style="height:50px" alt="">
        <div class="cmsTag">CMS</div>
      </a>
    </div>
  <div id="rightMenu" class="rightMenu" style="margin-top: 1.5%;">
    <!-- <a href=""></a> -->
    
    <a href="{% url 'expotcsvfile' %}">Get Csv</a>
    {% block nav %} {% endblock %}
    <a {% if request.path == '/'  %}onClick="window.print()"{% else %} style="display:none;" {% endif %} href="{% url 'home' %}" id="downloadPDF" >Get Pdf</a>
    
    <!-- <a id="logBtnAnch" href=""><button id="downloadPDF">Print</button></a> -->
    <!-- <a id="logBtnAnch" href=""><button id="logBtn">Data</button></a> -->
    <!-- {% if user.is_authenticated %}
    <a href="{% url 'homedashboard' %}">View calender</a>
    <a href="{% url 'dashboardaddemp' %}">Add Employe</a>
    <a href="{% url 'dashboardfileupload' %}">Upload csv</a>
    <!-- <a href="#">{{request.user.first_name}} {{request.user.last_name}}</a> -->
    
    <!-- <a id="logBtnAnch" href="{% url 'dashboardlogout' %}"><button id="logBtn">Logout</button></a> -->
    <!-- {% endif %}  -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    {% if user.is_authenticated %}
    <a id="logBtnAnch"><button id="logBtn" class="sideBarBtn">
      <i class="fa fa-bars"></i></button></a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
    {% endif %}
  </div>
 
</div>

<script src="{% static 'js/nav.js'%}"></script>
<!-- <script src="{% static 'js/nav.js'%}"></script>

<script>
  function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
      x.className += " responsive";
    } else {
      x.className = "topnav";
    }
  }
  
  let sideBar = document.querySelector(".sideBar");
  let sideBarBtn = document.querySelector(".sideBarBtn");
  let modal = document.querySelector(".modal");
  let closeIcon = document.querySelector(".closeIcon");
  let modalViewBtn = document.querySelector(".modalViewBtn")
  closeIcon.addEventListener("click",()=>{
    modal.style.display="none";
  })
  sideBarBtn.addEventListener("click",()=>{
  sideBar.style.display=="block"?sideBar.style.display ="none":sideBar.style.display="block";
  })
  modalViewBtn.addEventListener("click",()=>{
    modal.style.display = "block";
    sideBar.style.display = "none";
  })
  
  </script> -->
